.root{
  width: 50%;
  margin: 25px auto;
}

.inputWrapper{
  height: 30px;
  display: flex;
  align-items: center;
}

.inputWrapper input{
  display: block;
  width: 20%;
  height: 100%;
  font-size: 18px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 20px;
}

.inputWrapper input:focus{
  background-color: cyan;
}

.inputWrapper button{
  display: block;
  width: 10%;
  height: 100%;
  margin: 0px 35px 20px 35px;
  font-size: 18px;
  font-weight: bolder;
}

.inputWrapper button:hover{
  background-color: cyan;
}

.inputWrapper p{
  display: block;
  width: 10%;
  height: 100%;
  margin: 0px 0px 20px 35px;
  font-size: 18px;
  font-weight: bolder;
}

.root > button{
  float: right;
  margin: 0px 30px 0px 0px;
  height: 28px;
}
.root > button:hover{
  border: 1px solid #333;
  background-color: aqua;
}

.List{
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 0 4px;
  margin: 8px 0;
  color: #333;;
}

.List p{
  margin: 0;
}


